$primary-color: #000; 
$accent-color: #000;
$accent-hover-color: #000;
$faded-color: #000;
$emphasis-color: #000;
$emphasis-hover-color: #000;
$body-text-font: '';
$number-font: '';
$plain-text-font: '';
$serif-font: '';
$fun-font: '';


@import 'bootstrap';